@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap');

* {
    font-family: 'Lexend Tera', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    align-content: center;
    background-color: #14213d;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

#calculator {
    align-content: center;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    justify-content: center;
}

#display {
    align-items: center;
    background-color: #212121;
    color: white;
    display: flex;
    font-size: 1.5rem;
    grid-column: 1 / -1;
    justify-content: flex-end;
}

.span-two {
    grid-column: span 2;
}

button {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .75);
    border: 1px solid white;
    font-size: 2rem;
}

button:hover {
    background-color: rgba(255, 255, 255, .9);
}

p {
    color: white;
    font-size: 20px;
    text-align: center;
}

a {
    color: #E63946;
    display: inline-block;
    margin-top: 20px;
    position: relative;
    text-decoration: none;
}

a::after {
    background-color: #E63946;
    content: "";
    height: 2px;
    left:0;
    position: absolute;
    top: 100%;
    transition: width .3s ease-in-out;
    width: 0;
}

a:hover:after {
    width: 100%;
}